body{
    background: linear-gradient(rgb(189,195,199), rgb(44,62,80));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Cambria,'Times New Roman', serif;
}

.header{
    padding: 25px;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
    color:#85754e;
}

.text{
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 36px;
}

.text.desc{
    font-size: 30px;
    font-style: italic;
}

.text.outer{
    width: 600px;
    height: 25px;
    padding: 10px 30px;
    border: 3px groove black;
    background-color: #097969;
    color: white;
    font-size: 24px;
    text-decoration: underline;
}

ul,ol{
    width: 600px;
    height: auto;
    margin: auto;
    border: 3px groove black;
    padding: 10px 30px;
    background-color: #e5decf;
    text-align: center;
    font-size: 20px;
    list-style: none;
}

.inner{
    margin: 10px;
}

ol{
    text-align: justify;
    height: auto;
    list-style: decimal;
}

.redirect{
    text-align:center;
    font-size: 24px;
    color: white;
}